/bases-OOP/MiPrimerApp/nbproject/private/
/bases-OOP/MiPrimerApp/build/
/bases-OOP/HeroesApp/nbproject/private/
/bases-OOP/HeroesApp/build/
/bases-OOP/HerenciaApp/nbproject/private/
/bases-OOP/HerenciaApp/build/
/bases-OOP/Animales/nbproject/private/
/bases-OOP/Animales/build/
/ui/Interfaz/nbproject/private/
/ui/Interfaz/build/
/ui/Interfaz/dist/
/ui/Controles/nbproject/private/
/ui/Controles/build/
/ui/Productos/nbproject/private/
/ui/Productos/build/
/ui/Productos/dist/
/ui/BaseDatosCRUD/nbproject/private/
/ui/BaseDatosCRUD/build/
/ui/BaseDatosCRUD/dist/
/ui/Mascotas/nbproject/private/
